---
new_page_extension: md
auto_deploy: false
admin_path: admin
webhook_url: 
sections:
- type: directory
  path: docs
  label: Contents
  create: all
  match: "**/*.md"
  templates:
  - page
- type: directory
  path: docs
  label: Metadata
  create: all
  match: "**/*"
  new_doc_ext: json
  templates:
  - metadata
upload_dir: static/img
public_path: "/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: build
  install_dependencies_command: yarn install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: yarn start
