---
new_page_extension: md
auto_deploy: false
admin_path: admin
webhook_url: 
sections:
- type: directory
  path: docs
  label: Metadata
  create: documents
  match: "**/*.{md,json}"
  new_doc_ext: json
  templates:
  - metadata
- type: directory
  path: docs
  label: Contents
  create: all
  match: "**/*.md"
  new_doc_ext: md
  templates:
  - page
upload_dir: ''
public_path: https://cdnhelp.paperlust.co.s3.amazonaws.com
front_matter_path: https://cdnhelp.paperlust.co
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_output_directory: build
  install_dependencies_command: yarn install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: yarn start
